@import "./variables";

html,
body,
.App {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  ::-webkit-scrollbar {
    display: none;
  }
}

.App {
  text-align: center;
  top: 0;
}

.pushRight {
  padding-left: 20%;
}

.oneLine {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $primary-color;
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
}

.logo {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15%;

  span {
    padding-left: 5%;
    white-space: nowrap;
    font-weight: map-get($font-weights, bold);
  }
}

@mixin mobile {
  @media (max-width: $mobileSize) {
    @content;
  }
}

@mixin biggerScreen {
  @media (min-width: $bigScreen) {
    @content;
  }
}

.containerPage {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  // background-color: blue;
  min-height: 80vh;

  .main {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .listHeading {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3em;
    align-items: flex-start;
    font-weight: bold;
    padding-left: 2%;
    margin-bottom: 3%;

    &__title {
      font-size: 1.7em;
    }

    &__displayed {
      font-size: 0.7em;
      color: darkgray;

      span {
        color: black;
      }
    }
  }

  .workShopsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 0.5fr));
    max-width: 910px;
    // background-color: rgb(207, 190, 223);
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 23em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5%;
      margin: 1%;

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      }

      &__image {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        width: 100%;
        height: 45%;
      }

      &__description {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 90%;

        .date {
          img {
            height: 0.6em;
          }

          .smallPush {
            padding-left: 5%;
          }
          span {
            text-align: center;
            font-size: 0.7em;
            font-weight: bold;
          }
        }

        .title {
          margin-top: 5%;
          color: #0097cc;
          font-weight: bold;
        }

        .price {
          display: flex;
          margin-top: auto;
          margin-bottom: 0;
          font-weight: bold;
          justify-content: flex-start;
          padding-left: 10%;
          span {
            font-size: 60%;
            align-self: flex-end;
          }
        }

        .addButton {
          margin-top: 5%;
          margin-bottom: 5%;
          align-self: center;
          background-color: $primary-color;
          border-radius: 5px;
          width: 60%;
          height: 15%;
          border: none;

          &:hover {
            background-color: lighten($color: $primary-color, $amount: 10%);
            cursor: pointer;
          }

          div {
            font-size: 0.8em;
            font-weight: bold;
          }
        }
      }
    }
  }

  .filter {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 0.5%;
    width: 20%;
    min-width: calc(0.2 * 750px);

    h6 {
      font-family: "Times New Roman", Times, serif;
      font-weight: 700;
      color: darkgray;
    }

    img {
      padding-right: 10px;
      width: 15px;
    }

    span {
      color: black;
      font-weight: bold;
    }

    .pushAll {
      padding-left: 25px;
    }
  }

  .dropdownMenu {
    display: none;
  }

  .loadMore {
    display: flex;
    justify-content: flex-end;

    &__link {
      padding-right: 15%;
      text-decoration: underline;
      cursor: pointer;
      background: white;
      border: none;
      text-decoration-color: #0097cc;
      font-weight: bold;
    }
  }

  @include mobile {
    flex-direction: column;
    width: 100%;

    .main {
      width: 100%;
    }
    .filter {
      display: none;
    }
    .dropdownMenu {
      display: flex;
      background-color: red;
      height: 5vh;
      justify-content: center;
      color: #0097cc;
      div {
        padding-left: 5px;
      }
    }
    .workShopsList {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

.footer {
  background-color: #f2f2f2;
  height: 5vh;
  img {
    display: flex;
    width: 10%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vh;
    padding-left: 5%;
  }
}
